{% extends "registro/loginPrincipal.html" %}
{% load staticfiles %}

{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<div class="login-box">
    <div class="login-logo">
        <a href="https://ape.lapampa.gob.ar/" target="blank"><b>Administración Povincial de Energía</b></a>
    </div>
    <div class="card-body login-card-body">
        <p class="login-box-msg">Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
        <p class="mt-3 mb-1">
            <a href="{% url 'registro:login' %}">Iniciar sesión</a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>
<!-- /.login-box -->
{% endblock %}