{% extends "index.html" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Perfil de usuario</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'usuarios:index' %}">Inicio</a></li>
          <li class="breadcrumb-item active">Perfil de usuario</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->
<section class="content">
  <div class="container-fluid">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
          <h5>{{ message }}</h5>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      {% endfor %}
      {% endif %}
  </div>
</section>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- /.col -->
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Número de afiliado <strong>{{ user.num_afiliado }}</strong></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <!-- /.tab-pane -->
              <div id="settings">
                <form method="GET" class="form-horizontal" action="{% url 'usuarios:editar_perfil' user.pk %}"
                  enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group row">
                    <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" readonly="readonly" placeholder="Apellido"
                        name="last_name" value="{{ user.last_name }}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" readonly="readonly" placeholder="Nombre" name="first_name"
                        value="{{ user.first_name }}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label id="dni_label" for="inputDni" class="col-sm-2 col-form-label">DNI</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" readonly="readonly" placeholder="DNI" name="dni"
                        value="{{ user.dni }}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" readonly="readonly" placeholder="Email" name="email"
                        value="{{ user.email }}">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inpuTel" class="col-sm-2 col-form-label">Número de tel.</label>
                    <div class="col-sm-10">
                      <input type="tel" readonly="readonly" class="form-control " placeholder="Número de telefono"
                        name="num_tel" value="{{ user.num_tel }}">
                    </div>
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <div class="float-right">
                      <button type="submit" class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                        Editar</button>
                    </div>
                  </div>
                  <!-- /.card-footer -->
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>

{% endblock %}