{% extends "usuarios/loginPrincipal.html" %}


{% block content %}
<div class="card-body register-card-body">
    <p class="login-box-msg">Registrarme</p>
    {% if form.errors %}<div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <i class="icon fas fa-exclamation-triangle"></i>
        {% for field in form.visible_fields %}
            {{ field.errors }}
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="input-group mb-3" id="usuario">
            {{ form.username }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {{ form.num_afiliado }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-address-card"></span>
                </div>
            </div>
        </div>

        <div class="input-group mb-3">
            {{ form.dni }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {{ form.password1 }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span id="mostrar_pass1" class="fas fa-eye-slash"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {{ form.password2 }}
            <div class="input-group-append">
                <div class="input-group-text">
                    <span id="mostrar_pass2" class="fas fa-eye-slash"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
            </div>
            <!-- /.col -->
            <div class="col-5">
                <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <a href="{% url 'usuarios:login' %}" class="text-center">Ya tengo una cuenta</a>
</div>
<!-- /.form-box -->
{% endblock %}