{% extends "index.html" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Confeccionar licencia</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'usuarios:index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active">Confeccionar licencia</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="myform" method="POST" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <label class="card-title">Solicitud de licencia anual ordinaria</label>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-2">
                                        <label for="inputAfiliado" class="col-form-label">Fecha de solicitud</label>
                                    </div>
                                    <div class="col-md-2">
                                        <!--<input class="form-control">-->
                                        <label class="col-form-label">{% now "j F Y" %}</label>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputSolicitante" class="col-sm-2 col-form-label">Quien solicita</label>
                                <div class="col">
                                    <label
                                        class="full_name form-control col-form-label">{{ user.get_full_name }}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class=" row">
                                        <label for="inputFehcaInicio" class="col-sm-4 col-form-label">Días hábiles
                                            acumulados</label>
                                        <div class="col">
                                            <div class="input-group">
                                                {{ form.dias_habiles_acum }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="inputFechaFin" class="col-sm-4 col-form-label">Días hábiles a
                                            agregar</label>
                                        <div class="col">
                                            <div class="input-group">
                                                {{ form.dias_habiles_agregar}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="inputFehcaInicio" class="col-sm-4 col-form-label">Comienzo de la
                                            licencia</label>
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="far fa-calendar-alt"></i></span>
                                                </div>
                                                {{ form.fecha_inicio}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <label for="inputFechaFin" class="col-sm-4 col-form-label">Fin de la
                                            licencia</label>
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="far fa-calendar-alt"></i></span>
                                                </div>
                                                {{ form.fecha_fin }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col">
                                    <div class="row">
                                        <label for="inputFechaReintegro" class="col-sm-2 col-form-label">Fecha de
                                            reintegro</label>
                                        <div class="col">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i
                                                            class="far fa-calendar-alt"></i></span>
                                                </div>
                                                {{ form.fecha_reintegro }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for error in form.fecha_inicio.errors %}
                            <div class="form-group">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-12 alert alert-danger">
                                    <b>Comienzo de la licencia: </b>{{ error }}
                                </div>
                            </div>
                            {% endfor %}
                            {% for error in form.fecha_fin.errors %}
                            <div class="form-group">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-12 alert alert-danger">
                                    <b>Fin de la licencia: </b>{{ error }}
                                </div>
                            </div>
                            {% endfor %}
                            {% for error in form.fecha_reintegro.errors %}
                            <div class="form-group">
                                <label class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-12 alert alert-danger">
                                    <b>Fecha de reintegro: </b>{{ error }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="float-right">
                                <button type="submit" class="btn btn-success" formaction="{% url 'licencias:licencias_pdf' %}" formtarget="_blank"><i
                                        class="fas fa-file-pdf"></i>
                                    Imprimir</button>
                                <button type="submit" class="btn btn-primary"><i
                                        class="fas fa-archive"></i>Archivar</button>
                            </div>
                            <button type="reset" class="btn btn-danger"><i class="fas fa-times"></i> Descartar</button>
                        </div>
                </form>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}
<!--
    solicitar nombre completo
    solicitar dias habiles
    solicitar dias habiles agregados
    solicitar fecha de inicio
    fecha fin=fecha de inicio + dias habiles + dias habiles agregados
    solicitar fecha de reintegro
    solicitar fecha de solicitud
-->