{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Bienvenido</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'usuarios:index' %}">Inicio</a></li>
          <li class="breadcrumb-item active">Bienvenido</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <h5 class="mb-2 mt-4">Secciones</h5>
    <div class="row">
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-info shadow-lg">
          <div class="inner">
            <!--<h4 style="font-size:calc(1em + 1vw);">Comisiones</h4>-->
            <h4>Comisiones</h4>
            <p>Históricos</p>
          </div>
          <div class="icon">
            <i class="fas fas fa-copy"></i>
          </div>
          <a href="{% url 'comisiones:historico_comisiones' %}" class="small-box-footer">
            Ir <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-success shadow-lg">
          <div class="inner">
            <h4>Licencias</h4>
            <p>Registro</p>
          </div>
          <div class="icon">
            <i class="fas fa-road"></i>
          </div>
          <a href="{% url 'licencias:licencias_historico' %}" class="small-box-footer">
            Ir <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-warning shadow-lg">
          <div class="inner">
            <h4>Compras y Servicios</h4>
            <p>Registro</p>
          </div>
          <div class="icon">
            <i class="fas fa-shopping-cart"></i>
          </div>
          <a href="{% url 'compras_servicios:compras_servicios_historico' %}" class="small-box-footer">
            Ir <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-6">
        <!-- small card -->
        <div class="small-box bg-danger shadow-lg">
          <div class="inner">
            <h4>Subresponsables</h4>
            <p>Registro</p>
          </div>
          <div class="icon">
            <i class="fas fa-users"></i>
          </div>
          <a href="#" class="small-box-footer">
            Ir <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
      <!-- ./col -->
    </div>
  </div>
</section>

{% endblock %}