{% extends "loginPrincipal.html" %}


{% block content %}
<div class="card-body register-card-body">
    <p class="login-box-msg">Registrarme</p>
    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{% url 'usuarios:register' %}">
        {% csrf_token %}
        <div class="input-group mb-3" id="usuario">
            {# {{ form.username }} #}
            <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" required="true">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-user"></span>
                </div>
            </div>
        </div>
        
        <div class="input-group mb-3">
            {# {{ form.num_afiliado }} #}
            <input type="text" class="form-control" placeholder="Número de afiliado" name="num_afiliado" required="true">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-address-card"></span>
                </div>
            </div>
        </div>
        
        <div class="input-group mb-3">
            {# {{ form.dni }} #}
            <input type="text" class="form-control" placeholder="DNI" name="dni" required="true">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {# {{ form.password1 }} #}
            <input type="password" class="form-control" placeholder="Contraseña" name="password" required="true">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="input-group mb-3">
            {# {{ form.password2 }} #}
            <input type="password" class="form-control" placeholder="Confirmar contraseña" name="password_confirmation" required="true">
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
            </div>
            <!-- /.col -->
            <div class="col-5">
                <button type="submit" class="btn btn-primary btn-block">Registrarme</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <a href="{% url 'usuarios:login' %}" class="text-center">Ya tengo una cuenta</a>
</div>
<!-- /.form-box -->
{% endblock %}