{% extends "index.html" %}

{% block content %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Histórico solicitudes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'usuarios:index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active">Histórico solicitudes</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Solicitudes</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example" class="table table-striped table-bordered table-responsive-md" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Fecha de pedido</th>
                                    <th>Localidad</th>

                                    <th class="text-center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for solicitud in solicitudes %}
                                <tr>
                                    <td>{{ solicitud.fecha_pedido }}</td>
                                    <td>{{ solicitud.ciudad.ciudad }}</td>
                                    <td class="text-center">
                                        <span class="table-remove">
                                            <a target="_blank"
                                                href="{% url 'comisiones:reportePdfSolicitud' solicitud.pk %}"
                                                class="btn btn-success btn-rounded btn-sm my-0">Consultar</a>
                                        </span>
                                        <span class="table-remove">
                                            <a href="{% url 'comisiones:solicitud_eliminar' solicitud.pk %}"
                                                class="btn btn-danger btn-rounded btn-sm my-0">Eliminar</a>
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Fecha de pedido</th>
                                    <th>Localidad</th>
                                    <th class="text-center">Acción</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- /.content -->
{% endblock %}