{% extends "index.html" %}

{% block content %}
{{ rendicion.media }}
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Confeccionar anticipo</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'usuarios:index' %}">Inicio</a></li>
          <li class="breadcrumb-item active">Confeccionar anticipo</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="card card-primary card-outline">
          <form id="myform" class="form-horizontal" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-header">
              <div class="form-row">
                <div class="col-md-4">
                  <label class="card-title">Rendición de anticipo</label>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div id="after-add-more" data-validate-afiliado-url="{% url 'comisiones:get_num_afiliado' %}">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-6 mt-2">
                      <select indice="0" id="sel" name="afiliado[]" data-placeholder="Apellido y nombre">
                        <option></option>
                        {% for afiliado in users %}
                        <option value="{{ afiliado.pk }}">{{ afiliado.last_name }}
                          {{ afiliado.first_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-5 mt-2">
                      <input id="afiliado0" name="num_afiliado[]" type="text" class="form-control"
                        placeholder="Número de afiliado a SEMPRE">
                    </div>
                    <div class="col-md-1 mt-2">
                      <span class="float-right mb-3 mr-2">
                        <a style="cursor:pointer;" id="1" class="text-success add-more">
                          <i class="fas fa-user-plus fa-2x" aria-hidden="true"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- div que se muestra luego de agregar usuario -->
              <div class="copy d-none d-print-block">
                <div class="form-group">
                  <div class="form-row">
                    <div class="col-md-6 mt-2">
                      <select name="afiliado[]" data-placeholder="Apellido y nombre">
                        <option></option>
                        {% for afiliado in users %}
                        <option value="{{ afiliado.pk }}">{{ afiliado.last_name }}
                          {{ afiliado.first_name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-5 mt-2">
                      <input name="num_afiliado[]" type="text" class="form-control"
                        placeholder="Número de afiliado a SEMPRE">
                    </div>
                    <div class="col-md-1 mt-2">
                      <span class="float-right mb-3 mr-2">
                        <a style="cursor:pointer;" class="text-danger remove">
                          <i class="fas fa-user-times fa-2x" aria-hidden="true"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    {{ form.fech_inicio }}
                  </div>
                  <div class="col">
                    {{ form.fech_fin }}
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{ form.ciudad }}
              </div>
              <div class="row">
                <label for="inputTransporte" class="col-sm-2 col-form-label">Medio de
                  transporte:</label>
                <div class="col">
                  <div class="form-group">
                    <select id="transporte" name="transporte" class="sel" data-placeholder="Unidad de legajo"
                      data-validate-transporte-url="{% url 'comisiones:get_patente' %}" required>
                      <option></option>
                      {% for transporte in transportes %}
                      <option value="{{ transporte.pk }}">{{ transporte.num_legajo }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <input id="patente" name="patente" type="text" class="form-control" placeholder="Patente"
                      readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{ form.gastos }}
              </div>
              <!--- Tabla para el armado del itinenario--->
              <div class="form-group">
                <div class="card-body">
                  <div id="table" class="table-editable">
                    <span class="table-add float-right mb-3 mr-2">
                      <a style="cursor:pointer;" class="btn text-success">
                        <i class="fas fa-plus fa-2x" aria-hidden="true"></i>
                      </a>
                    </span>
                    <table class="table table-bordered table-responsive-md table-striped text-center">
                      <thead>
                        <tr>
                          <th class="text-center">Apellido y Nombre</th>
                          <th class="text-center">Día</th>
                          <th class="text-center">Mes</th>
                          <th class="text-center">Salida de:</th>
                          <th class="text-center">hora</th>
                          <th class="text-center">Llegada a:</th>
                          <th class="text-center">hora</th>
                          <th class="text-center">acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="pt-3-half">
                            <input id="input-name" name="name[]" class="input_edit" required />
                          </td>
                          <td class="pt-3-half">
                            <input id="input-dia" name="dia[]" class="input_edit" required />
                          </td>
                          <td class="pt-3-half">
                            <input id="input-mes" name="mes[]" class="input_edit" required />
                          </td>
                          <td class="pt-3-half">
                            <input id="input-salida" name="salida[]" class="input_edit" required />
                          </td>
                          <td class="pt-3-half">
                            <input id="input-hora1" type="time" name="hora_salida[]" class="input_edit" required />
                          </td>
                          <td class="pt-3-half">
                            <input id="input-llegada" name="llegada[]" class="input_edit" required />
                          </td>
                          <td class="pt-3-half">
                            <input id="input-hora2" type="time" name="hora_llegada[]" class="input_edit" required />
                          </td>
                          <td>
                            <span class="table-remove"><button disabled="true" type="button"
                                class="btn btn-danger btn-rounded btn-sm my-0">Remover</button></span>

                          </td>
                        </tr>
                        <!-- This is our clonable table line -->
                        <!-- This is our clonable table line -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputAfiliado" class="col-sm-6 col-form-label">
                  <h4>Informe de Anticipo:</h4>
                </label>
              </div>
              <div class="form-group">
                <div class="form-row">
                  <div class="col">
                    {{ detalle.km_salida }}
                  </div>
                  <div class="col">
                    {{ detalle.km_llegada }}
                  </div>
                  <div class="col">
                    <input name="km_total" class="form-control" type="text" placeholder="Total kms recorridos"
                      readonly="readonly">
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{ detalle.detalle_trabajo }}
              </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
              <div class="float-right">
                
                <button id="archivar" class="btn btn-success">
                  <i class="fas fa-archive"></i>
                  Archivar</button>
              </div>
              <button id="imprimir" type="submit" class="btn btn-primary"
                  formaction="{% url 'comisiones:reportePdfAnticipo' %}" formtarget="_blank">
                  <i class="fas fa-download"></i>
                  Generar PDF</button>
              <!--<button type="reset" class="btn btn-danger"><i class="fas fa-times"></i> Descartar</button>-->
            </div>
            <!-- /.card-footer -->
          </form>
        </div>

        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>
  function resizable(el, factor) {
    var int = Number(factor) || 7.7;
    function resize() { el.style.width = ((el.value.length + 1) * int) + 'px' }
    var e = 'keyup,keypress,focus,blur,change'.split(',');
    for (var i in e) el.addEventListener(e[i], resize, false);
    resize();
  }
  resizable(document.getElementById('input-name'), 7);
  resizable(document.getElementById('input-dia'), 7);
  resizable(document.getElementById('input-mes'), 7);
  resizable(document.getElementById('input-salida'), 7);
  resizable(document.getElementById('input-hora1'), 7);
  resizable(document.getElementById('input-llegada'), 7);
  resizable(document.getElementById('input-hora2'), 7);
</script>
{% endblock %}