{% extends "index.html" %}

{% block content %}
{% load bootstrap4 %}
{{ form.media }}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Confeccionar solicitud</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="{% url 'usuarios:index' %}">Inicio</a></li>
                    <li class="breadcrumb-item active">Confeccionar solicitud</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- errores -->
<section class="content">

    <div class="container-fluid">
        {% if form.errors  or users.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="icon fas fa-exclamation-triangle"></i>
            {% for field in form.visible_fields %}
            <h5>{{ field.errors }}</h5>
            {% endfor %}
            {% for field in users.errors %}
            <h5>{{ field }}</h5>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
    </div>
</section>
<!-- fin errores -->

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="myform" method="POST" class="form-horizontal" enctype="multipart/form-data"
                    data-validate-url="{{ list_url }}" data-url="{{ url }}">
                    {% csrf_token %}
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <label class="card-title">Solicitud de anticipo</label>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <label for="inputAfiliado" class="col-form-label">Fecha de pedido</label>
                                    </div>
                                    <div class="col">
                                        <!--<input class="form-control">-->
                                        <label class="col-form-label">{% now "j F Y" %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAfiliado" class=" col-form-label">
                                    <h4>Personal afectado a la comisión</h4>
                                </label>
                                <div id="form-wrapper" class="form-wrapper">
                                    {{ users.management_form }}
                                    <div id="form-repaet" class="form-repaet">
                                        {% for f in users %}
                                        <div class="form-row">
                                            <div class="col-md-6 mt-2">
                                                {{ f }}
                                            </div>
                                            <div class="col-md-5 mt-2">
                                                <input type="text" class="form-control"
                                                    placeholder="Número de afiliado a SEMPRE" readonly>
                                            </div>
                                            <div class="col-md mt-2">
                                                <span class="mb-3 mr-2">
                                                    <button type="button" class="remove btn btn-danger">Remover</button>
                                                </span>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-4 mt-2">
                                        <button id="add-more" type="button" class="btn btn-success">Agregar
                                            usuario</i></button>
                                    </div>
                                </div>
                                <div class="copy d-none d-print-block">
                                    <div class="form-row">
                                        <div class="col-md-6 mt-2 col">
                                            {{ single_user }}
                                        </div>
                                        <input type="checkbox" style="display: none;">
                                        <div class="col-md-5 mt-2 col">
                                            <input type="text" class="form-control"
                                                placeholder="Número de afiliado a SEMPRE" readonly>
                                        </div>
                                        <div class="col-md-1 mt-2">
                                            <span class="mb-3 mr-2">
                                                <button type="button" class="remove btn btn-danger">Remover</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="caja d-none d-print-block"></div>
                                <input id="contador" type="hidden" >
                                <br>
                                <div class="form-group">
                                    <label for="inputAfiliado" class=" col-form-label">
                                        <h4>Motivo de la Comisión</h4>
                                    </label>
                                </div>
                                <div class="form-group">
                                    {{ form.motivo }}
                                </div>
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-md-6 mt-2">
                                            <div class="input-group">
                                                {{ form.fecha_inicio.label_tag }}
                                                {{ form.fecha_inicio }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 mt-2">
                                            {{ form.duracion_prevista.label_tag }}
                                            {{ form.duracion_prevista }}
                                            <small class="form-text text-muted">Ejemplo: 5 días</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.ciudad.label_tag }}
                                    {{ form.ciudad }}
                                </div>
                                <div class="form-group">
                                    <label for="inputTransporte" class="col-form-label">Medio de
                                        transporte:</label>
                                    {{ form.transporte }}
                                    <small class="form-text text-muted">Puede filtrar por número de lagajo o
                                        patente</small>
                                </div>
                                <div class="form-group">
                                    {{ form.gastos_previstos.label_tag }}
                                    {{ form.gastos_previstos }}
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="float-right">
                                    <button type="submit" class="btn btn-success"><i class="fas fa-archive"></i>
                                        Guardar</button>
                                </div>
                                <a type="button" class="btn btn-danger" href="{{ url }}">
                                    <i class="fas fa-times"></i> Cancelar</a>
                                <!--<button type="reset" class="btn btn-danger"><i class="fas fa-times"></i> Descartar</button>-->
                            </div>
                </form>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<script>
    $('.form-wrapper label').hide()
    $('input[type=checkbox]').hide()
</script>
<!-- /.content -->
{% endblock %}