<div class="card">
        <div class="card-header">
          <h3 class="card-title">Comisiones</h3>
        </div>
        <!-- /.card-header -->
        
        <div class="card-body">
          {% if comisiones %}
          {% for comisiones in comision in%}
          <div id="jsGrid1"></div>
          {% endfor %}
          {% else %}
          <h3 class="card-title">No hay registro de comisiones</h3>
          {% endif %}
        </div>
        
        <!-- /.card-body -->
      </div>
  </div><!-- /.card -->